.container {
    width: 100%;
    max-width: 1245px;
    margin: auto;
}
a{
    text-decoration:none;
}
header {
    position:sticky;
    z-index:999;
    top:0;
    background-color:#fff;
    padding-block:10px;
}
body{
    padding:0;
    margin:0;
}
a.number {
    background-color: #779393;
    color: #fff;
    padding-block: 9px;
    border-radius: 50px;
    padding-inline: 18px;
    font-size: 14px;
    transition:0.3s;
}
.twelve {
    padding-top: 6rem;
}
a.subs:hover {
    background-color: #4b7878;
}
.mm {
    text-align: right;
}
.main-headingyog {
    font-size: 8rem;
    margin-bottom: 0;
    color: #111518;
}
img.logo{
    width: 120px;
}
i.fa-brands.fa-sistrix{
    color: #111518;
    font-size:22px;
    transition:0.3s;
}
i.fa-brands.fa-sistrix:hover {
    color: #779393;
}
i.fa-regular.fa-circle-user {
    color: #111518;
    font-size:22px;
    transition:0.3s;
}

i.fa-regular.fa-circle-user:hover {
    color:#779393;
}
li.two {
    list-style-type: none;
    font-size: 16px;
}
ul.one {
    display: flex;
    gap:45px;

}
.six {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.seven {
    display: flex;
    align-items: center;
    gap:82px;
}
.Eight {
    display: grid;
    grid-template-columns: auto auto;
}
a.three {
    color: #677178;
    text-decoration: none;
    position:relative;
    transition:0.3s;
}
h2.three:hover {
    color: #779394;
}
.eleven {
    position: absolute;
    z-index: 999;
    width: 100%;
}
a.four{
     color: #677178;
    text-decoration: none;
    position:relative;
}
p.para1 {
    color: #677178;
    line-height: 1.75;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    width: 79%;
    font-size: 17px;
    padding-bottom: 22px;
}
.ten {
    display: flex;
    gap: 32px;
}
.thirteen {
    display: flex;
    gap: 22px;
}

a.ten {
    background-color: #779393;
    height: 56px;
    width: 150px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
}
a.eleventh {
    height: 49px;
    width: 165px;
    border: 2px solid #779393;
    border-radius: 29px;
    color: #779393;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
a.yog-button {
    border: 2px solid #779393;
    color: #779393;
    border-radius: 30px;
    padding-inline: 44px;
    padding-block: 17px;
    font-family: "Roboto", sans-serif;
}
.main-heading {
    text-align: center;
}
img.yogimg {
    width: 170px;
    height: 152px;
}
.Yoga-style {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:center;
    align-items:center;
    margin-bottom:3rem;
    gap:50px;
}
.diffrent-yoga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.yog-content {
    font-family: "Roboto", sans-serif;
    line-height: 1.65;
    color: #677178;
    text-align: center;
    width: 75%;
}
p.para3 {
    font-family: "Roboto", sans-serif;
    color: #677178;
    padding-bottom: 4rem;
    line-height: 1.75;
    width: 77%;
    margin-bottom: 0;
    padding-bottom: 21px;
}
p.yog-contentents {
    font-family: "Roboto", sans-serif;
    color: #677178;
    font-size: 15px;
    line-height: 2;
    width: 89%;
}
.Yoga-btn {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
video {
    width: 100%;
    border-radius: 19px;
    margin-top: 3rem;
    cursor:pointer;
}
h1.bestyoga {
    font-size: 4rem;
    color: #111518;
    padding-bottom: 18px;
}
section.banner-section3 {
    margin-top: 8rem;
    padding-bottom:6rem;
}
.yogacont {
    display: grid;
    grid-template-columns: 49% 50%;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
 a.yogcity-btn {
    background-color: #779393;
    color: #fff;
     font-family: "Roboto", sans-serif;
}
a.yogcity-btn {
    background-color: #779393;
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding-inline: 40px;
    padding-block: 19px;
    border-radius: 26px;
}
.forward {
    text-align: center;
    margin-top:4rem;
}
p {
    color: #677178;
    font-family: "Roboto", sans-serif;
}
h2.ones {
    font-size: 36px;
    margin-top: 5rem;
    position:relative;
     font-family: "Merriweather", serif;
}
h2.onest{
    font-size: 36px;
    margin-top: 5rem;
    font-family: "Merriweather", serif;
    margin-bottom:4rem;
}
h2.ones::after {
    position: absolute;
    content: " ";
    background-color: #779393;
    height: 4px;
    width: 62px;
    left: 573px;
    bottom: 53px;
}
.yearly-yog {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    align-items: center;
    gap: 27px;
}
.main-box {
    text-align: center;
    background-color: #f7f8f8 !important;
    padding-bottom: 5rem;
    border-radius: 3px;
}
p.para7 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding-inline: 3rem;
    line-height: 1.75;
    padding-bottom: 3rem
}
p.para8 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding-inline: 3rem;
    line-height: 1.75;
    padding-bottom: 30px;
    color: #fff;
    width: 72%;
    padding-bottom:3rem;
}
.main-box1 {
    text-align: center;
    background-color: #779393;
    color: #ffffff;
    border-radius:11px;
    padding-bottom:5rem;
}
a.buy1 {
    background-color: #779393;
    color: #ffffff;
    padding-inline: 42px;
    padding-block: 18px;
    border-radius: 50px;
}
a.buy2{
    color: #779393;
    background-color: #ffffff;
    padding-inline: 40px;
    padding-block: 18px;
    border-radius: 50px;
}
h1.para6 {
    font-size: 75px;
    color: #779393;
}
.course-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diffrent-image {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 12px;
}

div.yogimg{
    animation: fadeInUp 1s forwards;
    opacity: 0;
    transform: translateY(50px);
    animation-duration:0s;
}
@keyframes fadeInUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}
div.yogimg1{
    animation: fadeInUp 1s forwards;
    opacity: 0;
    transform: translateY(50px);
    animation-duration:0.5s;
}
div.yogimg2{
    animation: fadeInUp 1s forwards;
    opacity: 0;
    transform: translateY(50px);
    animation-duration:1s;
}
div.yogimg3{
    animation: fadeInUp 1s forwards;
    opacity: 0;
    transform: translateY(50px);
    animation-duration:1.5s;
}

img.yogimage {
    border-radius: 22px;
}
span {
    color: #677178;
    font-family: "Roboto", sans-serif;
}
p.para5 {
    font-family: "Roboto", sans-serif;
    color: #677178;
    margin-bottom: 4rem;
}
.yog-studio {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}
h2.std-head {
    font-size: 45px;
    color: #fff;
}
p.para20 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 1.80;
    padding-top:0;
}
img.instructor {
    height: 419px;
    width: 385px;
    border-radius: 22px;
}
.yog-instruct {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top:4rem;

}
h2.two {
    padding-top: 18px;
}
a.social-media {
    color: #779393;
}
a.social\=media {
    color: #779393;
}
.about-yoga {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
section.banner-section8 {
    margin-top: 5rem;
}
p.para11 {
    color: #fff;
    font-weight: 100;
    width: 66%;
    text-align: center;
    line-height: 1.75;
}
a.three::after {
    position: absolute;
    content: " ";
    background-color: #779393;
    width: 42px;
    height: 2px;
    top: 25px;
    right: 1px;
}

a.four::after {
    position: absolute;
    content: " ";
    background-color: #779393;
    height: 2px;
    top: 26px;
    right: 27px;
    left: -2px;
    width: 0%;
    transition: 0.3s;
}
a.four:hover::after {
    width: 54px;
}
a.course {
    border: 2px solid #779393;
    color: #779393;
    border-radius: 25px;
    padding-block: 16px;
    padding-inline: 31px;
}
h2.three {
    color: #111518;
    transition: 0.3s;
}
span.tenth {
    color: #fff;
}
li{
    list-style-type:none;
}
.main-foot {
    display: grid;
    grid-template-columns: 28% 25% 25% 25%;
    padding-top: 3rem;
     margin-top: 4rem;
}
.newspaper {
    position: absolute;
    left: 235px;
    top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #fff;
    font-size: 48px;
    margin: 0;
}
h1.kk {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    font-family: "Playfair Display", serif;
}
.add {
    position: absolute;
    top: 251px;
    left: 344px;
}
input#eamil {
    height: 47px;
    width: 300px;
    border-radius: 32px;
    padding-left: 25px;
    border: none;
    outline:none;
}
input#email::placeholder{
     font-family: "Roboto", sans-serif;
}
a.subs {
    background-color: #779393;
    color: #fff;
    padding-block: 15px;
    padding-inline: 44px;
    border-radius: 22px;
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    transition:0.3s;
}
.main-foot2 {
    display: grid;
    grid-template-columns: 28% 25% 25% 25%;
}
ul {
    padding-left: 0;
}
a.terms {
    color: #677178;
}
li.terms {
    color: #677178;
}
h2.five {
    color: #677178;
}
p.para12 {
    color: #677178;
    width: 75%;
    line-height: 1.75;
}

ul {
    padding-left: 0;
    line-height: 1.75;
    font-family: "Roboto", sans-serif;
}
ul.social-link1 {
    display: flex;
    gap: 23px;
     color: #677178;
}
.copy-right {
    padding-top: 4rem;
    padding-bottom: 25px;
}
.para20 {
    padding-top: 3rem;
}
h1.para7 {
    font-size: 75px;
}
p.para7 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding-inline: 3rem;
    line-height: 1.75;
    width: 72%;
    text-align: center;
}

.soc-mdia {
    display: flex;
    gap: 20px;
    justify-content: center;
}
h3.box501 {
    font-family: "Merriweather", serif;
}
i.fa-brands.fa-facebook {
    color: #677178;
}
i.fa-brands.fa-square-x-twitter {
    color: #677178;
}
i.fa-brands.fa-square-instagram {
    color: #677178;
}
i.fa-brands.fa-square-youtube {
    color: #677178;
}
svg.ugb-custom-icon {
    padding-top: 4rem;
    opacity: 0.4;
}
span.tenth {
    color: #fff;
    text-transform: uppercase;
}
a.number:hover {
    background-color: #4b7878;
}
h1.twenty {
    font-size: 40px;
}