.container {
    width: 100%;
    max-width: 1245px;
    margin: auto;
}
a{
    text-decoration:none;
}
header {
    height: 66px;
    position:absolute;
    z-index:999;
    top:0;
    width:99%;
}
body{
    
}
.main-headingyog{
    font-size:8rem;
    margin-bottom:0;
}
img.logo{
    width: 120px;
}

i.fa-brands.fa-sistrix {
    color: #111518;
}
i.fa-regular.fa-circle-user {
    color: #111518;
}
li.two {
    list-style-type: none;
}
ul.one {
    display: flex;
    gap:37px;
    font-family: "Roboto", sans-serif;
}
.six {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top:32px;
}
.seven {
    display: flex;
    align-items: center;
    gap:47px;
}
.Eight {
    display: grid;
    grid-template-columns: 50% 50%;
}
a.three {
    color: #677178;
    text-decoration: none;
}
p.para1 {
    color: #677178;
    width: 74%;
    line-height: 1.75;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
.ten {
    display: flex;
    gap: 32px;
}
.thirteen {
    display: flex;
    gap: 22px;
}
a.ten {
    background-color: #779393;
    height: 44px;
    width: 132px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
     font-family: "Roboto", sans-serif;
}
a.eleven{
    height: 44px;
    width: 132px;
    border:2px solid #779393;
    border-radius: 29px;
    color:#779393;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: "Roboto", sans-serif;
}
a.yog-button {
    border: 2px solid #779393;
    color: #779393;
    border-radius: 30px;
    padding-inline: 31px;
    padding-block: 13px;
}
.main-heading {
    text-align: center;
}
img.yogimg {
    width: 170px;
    height: 152px;
}
.Yoga-style {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:center;
    align-items:center;
    margin-bottom:3rem;
}
.diffrent-yoga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.yog-content {
    font-family: "Roboto", sans-serif;
    line-height: 1.65;
    color: #677178;
    text-align: center;
    width: 70%;
}
p.para3 {
    font-family: "Roboto", sans-serif;
    color: #677178;
    padding-bottom: 4rem;
    line-height: 1.75;
    width: 77%;
    margin-bottom: 0;
    padding-bottom: 21px;
}
p.yog-contentents {
    font-family: "Roboto", sans-serif;
    color: #677178;
    font-size: 14px;
    line-height: 1.65;
}
.Yoga-btn {
    text-align: center;
}
video {
    width: 100%;
    border-radius: 19px;
    margin-top: 3rem;
}
h1.bestyoga {
    font-size: 3.5rem;
}
.yogacont {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: space-between;
    align-items: center;
}
 a.yogcity-btn {
    background-color: #779393;
    color: #fff;
     font-family: "Roboto", sans-serif;
}
a.yogcity-btn {
    background-color: #779393;
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding-inline: 29px;
    padding-block: 14px;
    border-radius: 26px;
}
.forward {
    text-align: center;
    margin-top:4rem;
}
h2.ones {
    font-weight: 900;
    font-size: 36px;
}
.yearly-yog {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.main-box {
    text-align: center;
    background-color: #f7f8f8 !important;
}
p.para7 {
    font-size:14px;
     font-family: "Roboto", sans-serif;
}
.main-box1 {
    text-align: center;
    background-color: #779393;
    color: #ffffff;
    border-radius:11px;
}
a.buy1 {
    background-color: #779393;
    color: #ffffff;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 20px;
}
a.buy2{
    color: #779393;
    background-color: #ffffff;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 20px;
}
h1.para6 {
    font-size: 75px;
}
.course-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diffrent-image {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 12px;
}
img.yogimage {
    border-radius: 22px;
}
span {
    color: #677178;
    font-family: "Roboto", sans-serif;
}
p.para5{
    font-family: "Roboto", sans-serif;
    color: #677178;
}